.App {
  text-align: center;
  overflow-x: hidden;
  background-color: hwb(218 93% 4%);
  height: 100%;
  width: 100%;
  display: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  background-size: cover;
  /* removes the unwanted horizontal scroll */
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-background {
  background-color: #282c34;
  min-height: 70px;
  width: 100%;
  display: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-size: cover;
}

/* position: absolute; */
/* position abolute will cause the images to shift */
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header {
  position: absolute;
  display: flex;
  align-items: left;
}

.navigation {
  position: absolute;
  display: inline-flex;
  font-size: medium;
  left: 500;
  margin-top: 50px;
  margin-left: 500px;
}

#thumbnails {
  position: absolute;
  display: block;
  flex-wrap: wrap;
  margin-top: 150px
}

/* .selectTeam {
  position: absolute;
  display: block;
  flex-wrap: wrap;
  margin-top: 500px;
  font-size: 10px;
  margin-left: 900px
} */

#teamImage {
  position: absolute;
  display: block;
  flex-wrap: wrap;
  margin-top: 650px;
  font-size: 10px;
  margin-left: 700px
}

.statsblock {
  position: absolute;
  display: block;
  flex-wrap: wrap;
  margin-top: 600px;
  font-size: 20px;
  margin-left: 900px;
  text-align: left;
  text-indent: 0%;
  font-family: 'Courier New', Courier, monospace;
  /* border: #61dafb nothing appears - can check with Varick on this  */
}

#statsheader {
  position: absolute;
  display: block;
  flex-wrap: wrap;
  margin-top: 550px;
  margin-left: 1000px;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.players {
  position: relative;
  display: block;
  flex-wrap: wrap;
  margin-top: 200px;
  font-size: 20px;
  margin-left: 150px;
  text-align: center;
  text-indent: 0%;
  font-family: 'Courier New', Courier, monospace;
}

.playerblock {
  position: relative;
  display: block;
  flex-wrap: wrap;
  margin-top: 50px;
  font-size: 20px;
  margin-left: 700px;
  text-align: left;
  text-indent: 0%;
  font-family: 'Courier New', Courier, monospace;
  /* border: #61dafb nothing appears - can check with Varick on this  */
}